[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
selenium = "*"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
python-decouple = "*"
drf-yasg = "*"
django-heroku = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
